* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  font-family: "Courier New", Courier, monospace;
}

.navigation {
  background: rgba(245, 245, 245, 0.463);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 12px;
}
.nav_div {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
.logo {
  font-size: 35px;
  font-weight: 600;
  color: rgb(107, 39, 170);
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: rgb(107, 39, 170);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 4px 9px;
  align-items: center;
}
li a:hover {
  background-color: rgb(139, 139, 219);
}

body {
  background-image: url(background.jpg);
  background-size: cover;
}
.Download_CV {
  background-color: white;
  border-color: rgb(144, 0, 255);
  border-style: solid;
  border-width: 2px;
  color: rgb(144, 0, 255);
  border-radius: 7px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: background-color, color 0.15s;
  animation-delay: 1s;
}
.Download_CV:hover {
  background-color: rgba(10, 2, 16, 0.76);
  color: white;
}
.Download_CV:active {
  opacity: 0.7;
}
.content {
  display: flex;
  margin-top: 10%;
  padding-left: 40px;
}
.content h1 {
  font-size: 50px;
  color: #2851e6;
}
.h2 {
  color: rgba(11, 11, 15, 0.658);
  animation-delay: 0.5s;
}
.profile-img {
  width: 325px;
  border-radius: 7px;
  animation-delay: 1.5s;
  margin-left: 300px;
}
.content {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
ul {
  margin-right: 100px;
}
.Download_CV {
  display: inline-block;
  margin-top: 6px;
}
footer {
  background-color: rgba(245, 245, 245, 0.463);
}
.social_links {
  display: flex;
  justify-content: center;
}
.social_links a {
  text-decoration: none;
  padding: 11px;
  background-color: white;
  margin: 13px;
  border-radius: 55%;
}
.social_links a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.social_links a:hover {
  background-color: black;
  transition: 0.65s;
}
.social_links a i:hover {
  color: white;
  transition: 0.65s;
}
.copy-right {
  background-color: rgba(245, 245, 245, 0.463);
  padding: 20px;
  text-align: center;
}
.copy-right p {
  color: black;
}

@media (max-width: 888px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-img {
    margin: 0 auto;
    width: 50%;
  }
  header {
    width: 100%;
  }
  nav {
    width: 100%;
  }
}

/* CONTACT PAGE CSS */

.contact {
  min-height: 100vh;
  padding: 50px;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.container h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.contact_wrap {
  display: grid;

  grid-gap: 30px;
}
.Contact-form {
  text-align: left;
}
.Contact-form h3 {
  font-size: 24px;
  margin-bottom: 20px;

  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  color: #333;
}
/* input:focus,
textarea : focus {
  outline: none;
  box-shadow: 0 0 8px #bbb;
} */
button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #4caf49;
}
.contact-info {
  text-align: left;
}
.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.contact-info p {
  margin-bottom: 10px;
  color: #555;
  font-size: 25px;
  font-weight: bold;
}
contact-info i {
  color: #4caf50;
  margin-right: 10px;
}
.phone,
.email,
.location {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .contact_wrap {
    grid-template-columns: 1fr;
  }
}

/* PROJECT-WEBPAGE CSS */

.title_project h1 {
  text-align: center;
  padding-top: 47px;
  font-size: 39px;
}
.project_services {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 83px auto;
  text-align: center;
}
.project_icon {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 25px;
  padding: 9px 24px;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  background-color: skyblue;
  border-radius: 9px;
}
.project_icon:hover {
  background-color: rgba(245, 245, 245, 0.223);
  transition: 0.4s;
}

.project_icon h2 {
  font-size: 28px;
  color: rgb(41, 57, 52);
  margin-bottom: 20px;
}
.project_icon p {
  font-size: 18px;
  margin-bottom: 23px;
  line-height: 1.5;
  color: rgb(43, 59, 228);
}
.project_button {
  padding: 6px 5px;
  background-color: #561585;
}
.project_logo {
  width: 50px;
  height: 5opx;
  object-fit: cover;
  border-radius: 8px;
}
@media screen and (max-width: 925px) {
  .project_services {
    display: flex;
    flex-direction: column;
  }
  .project_icon {
    width: 85%;
    display: flex;
    margin: 20px 0px;
  }
}
